body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  display: inline-block;
  background-color: #cce3eb;
width: 100%;
}

li {
  float: left;
  list-style: none;
}

li a {
  display: block;
  padding: 8px;
  background-color: #cce3eb;
}
